:root {
  --site-default-main-bg-color: #e9f8ea;
  --site-default-main-text-color: black;
  --site-default-head-foot-bg-color: #bcda9a;
  --site-default-head-foot-text-color: #075a0e;
  --site-default-imortant-text-color : #cc5460;
  --site-default-menu-panel-bg-color: #bcda9ae6;
}
body {
  margin: 0;
  max-width: 100%;
  height: auto;
  display: block;
  padding: 1vh 5vw;
  background-color: var(--site-default-main-bg-color);
  color: var(--site-default-main-text-color);
  text-align: left;
}
figure {
  display: block;
  justify-content: center;
  width: 88%;
  align-items: center;
  border: 3px solid rgb(97, 94, 94);
  background-color: rgb(22, 21, 21);
  font-family: Georgia, Times, serif;
  letter-spacing: 1px;
  line-height: 2vw;
  overflow: auto;
  text-wrap: nowrap;
  padding: 2vh 0vw 3vh 3vw ;
  font-size: 1.3vw;
  margin-bottom: 30px;
}
figcaption {
  font-size: 1.7vw;
  margin-top: -20px;
  margin-left: 40px;
}
ul {
  list-style: none;
}
pre {
  width: 90%;
}
#outline-style {
text-align: left;
}
.topics {
  width: 85vw;
  margin: 15px auto;
}
.logo {
  display: inline-block;
  width: 100px;
  margin-left: 20px;
  margin-top: 5px;
}
.logo-img {
  border-radius: 7px;
}
.header {
  display: flex;
  color: var(--site-default-head-foot-text-color);
  background-color: var(--site-default-head-foot-bg-color); /* Background color */
  border-bottom: 3px solid var(--site-default-head-foot-text-color);
  border-radius: 10px;
}
.header-title h1 {
  display: inline-block;
  text-decoration: underline;
  font-size: 3.3vw;
  margin-right: 20px;
}
.nav {
  display: flex;
  flex-direction: column; /* This puts contents in a column*/
  align-items: center; /* centers the items horizontally because they are in a column, would be vertically if the flex direction was a row*/
}
#side-menu {
  position: fixed;
  font-family: 'sans-serif';
  font-size: 1.4em;
  line-height: 1.3;
  width: 250px; /* Adjust width as needed if any menu items are too lengthy*/
  height: 0px; /* intital height set to hide the menu and should be changed with js on mouse hover over the menu tab */
  overflow: hidden; /* This hides the content inside the menu while it is collapsed*/
  background-color: var(--site-default-menu-panel-bg-color); /* Background color */
  color: var(--site-default-head-foot-text-color); /* Text color */
  margin-top: -1px; /* This distance is needed to hug the menu container to the header. it's actually over lapping a little */
  z-index: -1; /* This is used to hide the overlap by making it set under the header. I this so when menu is collapsed, it will definitly be hidden behind header.*/
}
.underlined {
  text-decoration: underline;
}
.white-text-on-green-bkgrd {
  color: antiquewhite;
  background-color: darkgreen;
  line-height: 1.3;
  padding: 2px 2px;
}
.rotated-text-container { /* This is the side menu tab */

  margin-top: 0px; /* set to hug bottom of the menu */
  width: 74px;
  font-size: 21px; 
  padding: 1px 5px 1px 5px; /* Add padding just to keep text off the inside walls of the container */
  border-bottom: 3px solid var(--site-default-head-foot-text-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--site-default-menu-panel-bg-color); /* Background color */
  color: var(--site-default-head-foot-text-color); /* Text color */
}
/* These are the colors for the simulated code displays */
.line-numbers {
  color:gray;
}
.topic {
  font-size: 2.6vw;
  text-align: center; /* Center the text horizontally */
  line-height: 1;
  margin-bottom: 0;
}
.doctype {
  color: rgb(238, 17, 17);
}
.punctuation {
  color: white;
}
.text {
  color: whitesmoke;
}
.property{
  color: green;
}
.property-values {
  color: orange;
}
.element-name {
  color: rgb(204, 10, 10);
}
.c-class {
  color: green;
}
.c-text {
  color:rgb(37, 117, 163);
}
.base-selector {
  color: red;
}
.number {
  color:rgb(189, 37, 189);
}
.unit {
  color: rgb(199, 23, 23);
}
.steps {
  font-weight: 600;
}
.code-line-background {
  background-color: black;
}
.text-h1 {
  color: whitesmoke;
  font-size: 1.6em; /* Relative to the surrounding text (1.3vw), this makes it larger */
}
.text-h2 {
  color: whitesmoke;
  font-size: 1.4em; /* Slightly smaller than h1 */
}
.text-h3 {
  color: whitesmoke;
  font-size: 1.2em; /* Smaller than h2 */
}
.text-em {
  color: whitesmoke;
  font-style: italic; /* Makes the text italic */
  font-weight: normal; /* Ensures the text is not bold */
}
.emphasis {
  font-style: italic; /* Makes the text italic */
  font-weight: 600;
}
.article {
  font-size: 1.8vw;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.free {
  background-color: rgb(116, 233, 105);
}
.pay-up {
  background-color: #cc5460;
}
.summary-text {
  font-style: italic;
  font-weight: 600;
  
}
.summary-text-bkgrd {
  background-color: #9ed8da;
  padding: 10px;
}
@media screen and (max-width: 420px) {
  /* adjustemts for smaller screens */
  figure {
    width: 80%;
  }
  #side-menu {
    position: fixed;
    top: 100px; /* Adjust this value as needed */
    /* Other styling properties */
  }  .rotated-text-container {
    position: absolute;
    top: 75px; /* Adjust this value as needed */
    /* Other styling properties */
  }
}
@media screen and (max-width: 290px) {
  /* adjustemts for smaller screens */
  figure {
    width: 60%;
  }  
  #side-menu {
    position: fixed;
    top: 14%; /* Adjust this value as needed */
    /* Other styling properties */
  }

  .rotated-text-container {
    position: absolute;
    top: 18%; /* Adjust this value as needed */
    /* Other styling properties */
  }
}
