:root {
  --site-default-main-bg-color: #e9f8ea;
  --site-default-main-text-color: black;
  --site-default-head-foot-bg-color: #bcda9a;
  --site-default-head-foot-text-color: #075a0e;
  --site-default-imortant-text-color : #cc5460;
  --site-default-menu-panel-bg-color: #bcda9ae6;
}
body {
  margin: 0;
  max-width: 100%;
  height: auto;
  display: block;  
  padding: 1vh 5vw;
  background-color: var(--site-default-main-bg-color);
  color: var(--site-default-main-text-color);
}
figure {
  display: block;
  justify-content: center;
  width: 83%;
  align-items: center;
  border: 3px solid rgb(97, 94, 94);
  background-color: rgb(22, 21, 21);
  font-family: Georgia, Times, serif;
  letter-spacing: 1px;
  line-height: 2vw;
  overflow: auto;
  text-wrap: nowrap;
  padding: 2vh 0vw 3vh 3vw ;
  font-size: 1.3vw;
}
figcaption {
  font-size: 1.7vw;
  margin-bottom: -1.95vh;
  margin-top: 0px;
  marging-left: 30px;
}
.logo {
  display: inline-block;
  width: 100px;
  margin-left: 20px;
  margin-top: 5px;
}
.logo-img {
  border-radius: 7px;
}
.header {
  display: flex;
  align-items: center;
  color: var(--site-default-head-foot-text-color);
  background-color: var(--site-default-head-foot-bg-color); /* Background color */
  border-bottom: 3px solid var(--site-default-head-foot-text-color);
}
.header-title h1 {
  display: inline-block;
  text-decoration: underline;
  font-size: 3.3vw;
}
#side-menu {
  position: fixed;
  font-family: 'sans-serif';
  top: 25%;
  left: -250px; /* Hidden by default */
  width: 250px; /* Adjust width as needed */
  height: 51%; /* Maximum height when fully expanded */
  transition: left 0.3s; /* Smooth sliding animation */
  border-radius: 5px;
  padding: 1vh -2vw 1vh 3vw;
  border-right: 3px solid var(--site-default-head-foot-text-color);
  background-color: var(--site-default-menu-panel-bg-color); /* Background color */
  color: var(--site-default-head-foot-text-color); /* Text color */
}
.rotated-text-container { /* This is the side menu tab */
  position: absolute;
  top: 40%; /* asjust this to adjust the loction of the menu tag from the top */
  left: 95%;
  transform: translate(0%, -50%) rotate(-90deg);
  font-size: 2vw; /* Adjust the font size as needed */
  padding: -1px 5px 0px 5px; /* Add padding to style the rotated text */
  border-bottom: 3px solid var(--site-default-head-foot-text-color);
  border-radius: 5px;
  background-color: var(--site-default-menu-panel-bg-color); /* Background color */
  color: var(--site-default-head-foot-text-color); /* Text color */
}
/* These are the colors for the simulated code displays */
.line-numbers {
  color:gray;
}
.topic {
  font-size: 2.6vw;
  text-align: center; /* Center the text horizontally */
  line-height: 1;
  margin-bottom: -5vh;
}
.doctype {
  color: rgb(238, 17, 17);
}
.punctuation {
  color: white;
}
.text {
  color: whitesmoke;
}
.property{
  color: green;
}
.property-values {
  color: orange;
}
.element-name {
  color: rgb(204, 10, 10);
}
.c-class {
  color: green;
}
.c-text {
  color:rgb(37, 117, 163);
}
.base-selector {
  color: red;
}
.number {
  color:rgb(189, 37, 189);
}
.unit {
  color: rgb(199, 23, 23);
}
